@CHARSET "UTF-8";
#mapHolder { height:500px; width:500px; margin-top: 160px; margin-left:auto}

body { 
height: 101%; 
text-align:center;
font-family: "Trebuchet MS", Arial, Tahoma, sans-serif; 
font-weight:300;
color:#7c7c7c;
background: url('/web/css/css images/url2.jpeg');
background-position: left top, left top;
background-repeat: repeat, repeat;
padding-top: 10px; 
line-height:1.7em;
text-align: center;
}